<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">ngProject</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [class.active]="isCurrentRoute('/users')"><a [routerLink]="['/users']">Users</a></li>
        <li [class.active]="isCurrentRoute('/posts')"><a [routerLink]="['/posts']">Posts</a></li>
      </ul>
      <login-form *ngIf="!isLoggedIn" class="navbar-form navbar-right"></login-form>
      <logout *ngIf="isLoggedIn"></logout>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>